@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.custom-scrollbar::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#fff;
}
.custom-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
